---
import siteConfig from '../data/site-config';
const socialLinks = siteConfig.socialLinks || [];
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <>
                <a class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/">
                    {siteConfig.title}
                </a>

                {/* <div
                    class:list={['pt-6 flex flex-col gap-4 border-main', { 'sm:flex-row-reverse sm:justify-between sm:items-center': socialLinks.length > 0 }]}
                >
                    {socialLinks.length > 0 && (
                        <div class="flex flex-wrap gap-x-4 gap-y-1">
                            {socialLinks.map((link) => (
                                <a
                                    class="inline-flex items-center justify-center text-sm hover:underline hover:underline-offset-2"
                                    href={link.href}
                                    target="_blank"
                                    rel="noopener noreferer"
                                >
                                    {link.text}
                                </a>
                            ))}
                        </div>
                    )}
                </div> */}
            </>
        )
    }
    {siteConfig.subtitle && <p class="text-sm leading-tight mt-1">{siteConfig.subtitle}</p>}
</header>
